<!--权限列表-->

{% extends 'public/layout.html' %}

{% block breadcrumb %}
    <li><i class="fa fa-fw fa-home"></i><a href="#">权限管理</a><span class="divider"></span></li>
    <li><a href="{% url "permission_list" %}">权限列表</a><span class="divider"></span></li>
{% endblock %}


{% block body %}
    <div class="ibox float-e-margins table-bordered">
        <div class="ibox-content">
            <div class="">
                <caption>
                    <a class="btn btn-primary btn-sm" href="{% url 'permission_add' %}">创建权限</a>
                </caption>

                <form id="search_form" method="get" action="" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="search_input" name="keyword"
                               placeholder="Search">
                        <div class="input-group-btn">
                            <button id="search_btn" type="submit" class="btn btn-sm btn-primary">
                                -搜索-
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <table class="table table-striped table-hover table-bordered" id="editable">
                <tr>
                    <th class="text-center">
                        <input type="checkbox" id="check_all" onclick="checkAll('check_all', 'checked')">
                    </th>
                    <th>App</th>
                    <th>Model</th>
                    <th>Codename</th>
                    <th>name</th>
                    <th>操作</th>
                </tr>

                {% for permission_obj in object_list %}
                    <tr class="gradex">
                        <td class="text-center">
                            <input type="checkbox" name="checked" value="5000">
                        </td>
                        <td class="text-center"><a href="#">{{ permission_obj.content_type.app_label }}</a></td>
                        <td class="text-center">{{ permission_obj.content_type.model }}</td>
                        <td class="text-center">{{ permission_obj.codename }}</td>
                        <td class="text-center">{{ permission_obj.name }}</td>
                        <td class="text-center">  <!--修改开始-1-->
                            <div class="btn-group">
                                <div class="btn-group">
                                    <button class="btn btn-danger btn-xs delete" data="{{ permission_obj.name }}"
                                            type="button">修改
                                    </button>
                                </div>
                            </div> <!--修改结束-1-->
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <!--页码操作开始-1-->
        <div class="panel-default">
            <center> <!--居中显示开始-1-->
                <ul class="pagination">
                    <li><a href="{{ request.path }}?page=1{{ search_data }}">首页</a></li>
                    {% if page_obj.has_previous %}
                        <li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}{{ search_data }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="previous disabled"><a>&laquo;</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        <li {% if page_obj.number == i %}class="active"{% endif %}>
                            <a href="{{ request.path }}?page={{ i }}{{ search_data }}">{{ i }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a href="{{ request.path }}?page=
                                {{ page_obj.next_page_number }}{{ search_data }}">&raquo;</a></li>
                    {% else %}
                        <li class="previous disabled"><a>&raquo;</a></li>
                    {% endif %}
                    <li><a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}{{ search_data }}">末页</a>
                    </li>
                </ul>
            </center><!--居中显示结束-1-->
        </div> <!--页码操作结束-1-->
    </div>

{% endblock %}