<!--页面左边导航-->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">  <!--菜单列表-->
            <!--
            <li class="nav-header">
                <div class="logo-element">Ada</div>
            </li>-->
            <li id="index"><a href="/"><i class="fa fa-dashboard fa-fw"></i>控制面板</a></li>

            <li id="juser"><!--资产平台开始-->
                <a href="#"><i class="fa fa-database fa-fw"></i>资产管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="{% url 'server_list' %}" class="menu-link">服务器<span
                                class="label label-primary pull-right">768/802</span></a>
                    </li>
                    <li>
                        <a href="{% url 'product_manage' %}" class="menu-link">业务线</a>
                    </li>
                    <li>
                        <a href="{% url 'idc_list' %}" class="menu-link">IDC</a>
                    </li>
                </ul>
            </li> <!--资产平台结束-->

            <li><!--监控配置-->
                <a href="#"><i class="fa fa-desktop fa-fw"></i>监控配置<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="{% url 'influx_graph' %}">监控展示</a>
                    </li>
                    <li>
                        <a href="{% url 'influx_graph_list' %}">图形管理</a>
                    </li>
                </ul>
            </li> <!--监控配置-->


            {#            <li><!--任务管理开始-->#}
            {#                <a href="#"><i class="fa fa-list-ul fa-fw"></i>任务编排<span class="fa arrow"></span></a>#}
            {#                <ul class="nav nav-second-level collapse">#}
            {#                    <li><a href="#">任务列表</a></li>#}
            {#                    <li><a href="#">Interval</a></li>#}
            {#                    <li><a href="#">Crontab</a></li>#}
            {#                    <li><a href="#">任务结果</a></li>#}
            {#                    <li><a href="#">后台管理</a></li>#}
            {#                </ul>#}
            {#            </li> <!--任务管理结束-->#}

            {#            <li><!--应用管理开始-->#}
            {#                <a href="#"><i class="fa fa-outdent fa-fw"></i>应用管理<span class="fa arrow"></span></a>#}
            {#                <ul class="nav nav-second-level collapse">#}
            {#                    <li><a href="#">项目</a></li>#}
            {#                </ul>#}
            {#            </li> <!--应用管理结束-->#}

            <li><!--任务管理-->
                <a href="#"><i class="fa fa-retweet fa-fw"></i>持续交付<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'code_deploy' %}">发布</a></li>
                    <li><a href="#">重启</a></li>
                    <li><a href="#">回滚</a></li>
                </ul>
            </li> <!--任务管理结束-->

            {#            <li><!--日志开始-->#}
            {#                <a href="#"><i class="fa fa-file fa-fw"></i>日志审计<span class="fa arrow"></span></a>#}
            {#                <ul class="nav nav-second-level collapse">#}
            {#                    <li><a href="#">日志</a></li>#}
            {#                </ul>#}
            {#            </li> <!--日志结束-->#}

            <li><!--consul管理-->
                <a href="#"><i class="fa fa-link fa-fw"></i>Consul<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">成员</a></li>
                    <li><a href="#">更新</a></li>
                    {#                    <li><a href="#">备份/恢复</a></li>#}
                    {#                    <li><a href="#">相关文档</a></li>#}
                </ul>
            </li> <!--consul管理结束-->

            <li id="juser"> <!--用户管理开始-->
                <a href="#"><i class="fa fa-users fa-fw"></i>权限管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level  collapse">
                    <li>
                        <a href="{% url 'user_list' %}" class="menu-link">用户列表</a>
                        <a href="{% url 'group_list' %}" class="menu-link">用户组列表<span
                                class="label label-primary pull-right">49/49</span></a>
                        <a href="{% url 'permission_list' %}" class="menu-link">权限列表</a>
                    </li>
                </ul>
            </li> <!--用户管理结束-->

            <li><!--管理配置开始-->
                <a href="#"><i class="fa fa-cog fa-fw"></i>管理配置<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a target="_blank" href="/admin">Django administration</a></li>
                </ul>
            </li> <!--系统管理管理结束-->


        </ul><!--菜单列表结束-->
    </div><!--sidebar-collapse end -->
</div><!--navbar-static-side 左边菜单结束 -->
